App/__pycache__/*
App/migrations/__pycache__/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

LOGFILE
.bash_history
.cache/
.viminfo
bin/
lib/
lib64
pip-selfcheck.json
pyvenv.cfg
