{% load static %}
<link rel="stylesheet" href="{% static 'User/css/signup.css' %}"/>
<!--<link rel="stylesheet" type="text/css" href="{% static 'Base/css/jquery.dd.css' %}" />-->
<!--<script src="{% static 'Base/js/jquery-1.9.0.min.js' %}"></script>-->
<!--<script src="{% static 'Base/js/jquery.dd.min.js' %}"></script>-->


<style>
      img.fnone{
            width:30px;
      }
</style>
<div id="SignUp">
      <div class="bg"></div>
	  <form class="form-signup" method="post" action="/api/signup/">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-bold">SIGN UP</h1>
            <span style="color:rgb(200, 200, 200);">───────────────</span>

            <input type="email" class="form-control mb-1" placeholder="example@gmail.com" name="email" required="">
            <input type="password" name="password" class="form-control mb-1" placeholder="비밀번호" required="">
            <input type="number" name="birth" class="form-control mb-1" placeholder="주민등록번호 앞 6자리" maxlength="6" required="">

            <div class="btn-group w-100">
                  {% include './Dropdown.html' %}
                  <input type="number" name="phone" class="form-control mb-1 ml-1" placeholder="휴대폰" required="">
            </div>
            <div class="btn-group w-100">
                  <input type="number" name="phone" class="form-control mb-1" placeholder="인증번호입력" required="">
                  <button class="btn btn-md btn-primary btn-block btn-validate mb-1 ml-1" type="button" onclick="Validate()">인증번호발송</button>
            </div>
            <button class="btn btn-md btn-primary btn-block mt-3 btn-signup" type="submit">회원가입</button>
      </form>
</div>

<script type="text/javascript" src="{% static 'User/js/signin.js' %}"></script>

<script>
      function Validate(){
            if($(".btn-validate").hasClass('disabled')){
                  console.log("클릭 X")
            }
            else{
                  $(".btn-validate").addClass('disabled')
                  console.log("문자전송")
            }
      }
</script>
<script>
      $(document).ready(function(e) {

      });
</script>